body {
    background-color: rgb(211, 211, 211);
    margin: 20px;
}

.List {
    border: 2px solid black;
    margin: 2px;
    text-align: center;
    width: 15%;
    min-width: 150px;
}

.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 150px));
    gap: 0.5em;
}

.stav {
    padding: 2px;
}

.infoItem {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.itemy {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 250px));
    min-width: 200px;
    overflow: hidden;
    gap: .25rem;
    text-align: center;
}

.item {
    padding-bottom: 2vh;
    border: 1px solid black;
    border-radius: 35px;
    margin: 5px;
}

.link {
    text-decoration: underline;
    text-decoration-color: blue;
    color: blue;
}

.err {
    color: rgb(138, 0, 0);
}

.koupeno {
    color: rgba(0, 0, 0, 0.26);
}

.nekoupeno {
    color: brown;
}


.List button {
    width: 50%;
    background-color: #0071ce;
    color: white;
    border: none;
    margin: 2px;
    cursor: pointer;
}

button:hover {
    background-color: #004883;
}

button:hover {
    background-color: #004883;
}

.types {
    display: flex;
    flex-direction: column;
}

.types button {
    min-width: 10vw;
    max-width: 20vw;
    margin: .05rem;
}

button {
    background-color: #0071ce;
    color: white;
    border: none;
    cursor: pointer;
}

input[type=text],
select {
    min-width: 20vh;
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=email],
select {
    min-width: 20vh;
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=number],
select {
    min-width: 20vh;
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password],
select {
    min-width: 20vh;
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    min-width: 20vh;
    width: 30%;
    background-color: #0071ce;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #004883;
}

.buttonos {
    width: 100%;
    background-color: #0071ce;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btns {
    font-size: 20px;
    size: 10px;
}

.types {
    display: inline-block;
    width: 30%;
}

.mainHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.changeIt input[type="text"] {
    min-width: 100%;
}

.changeIt input[type="submit"] {
    min-width: 100%;
}

.changeIt input[type="email"] {
    min-width: 100%;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, .95);
}

.popup_inner {
    position: absolute;
    left: 25vw;
    right: 25vw;
    top: 15vh;
    bottom: 15vh;
    padding: 15px;
    background-color: rgb(211, 211, 211);
    text-align: center;
}

.close {
    color: Black;
    float: right;
}

.close:hover {
    color: white;
    cursor: pointer;
}


@media all and (max-width: 680px){
    .popup_inner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: scroll;
    }
}