body {
    background-color: rgb(60, 60, 60);
    color: white;
}

.List {
    border: 2px solid rgb(122, 122, 122);
    margin: 1rem;
    text-align: center;
}

.row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 150px));
    gap: 0.5em;
    align-items: flex-start;
}

.stav {
    padding: 2px;
}

.itemy {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
    overflow: hidden;
    gap: .25rem;
    text-align: center;
}

.item {
    padding-bottom: 2vh;
    border: 1px solid rgb(122, 122, 122);
    border-radius: 15px;
}

.link {
    text-decoration: underline;
    text-decoration-color: blue;
    color: blue;
}

.err {
    color: rgb(138, 0, 0);
}

.koupeno .btns{
    color: rgba(0, 0, 0, 0.26);
    cursor: pointer;
}

.nekoupeno .btns {
    color: brown; 
    cursor: pointer;
}


button:hover {
    background-color: #004883;
}

.types {
    display: grid;
    grid-template-columns: repeat(auto-fit, 150px);
}

.types button {
    min-width: 10vw;
    max-width: 20vw;
    margin: .05rem;
}

button {
    background-color: #0071ce;
    color: white;
    border: none;
    cursor: pointer;
}

input[type=text],
select {
    min-width: 20vh;
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=email],
select {
    min-width: 20vh;
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=number],
select {
    min-width: 20vh;
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password],
select {
    min-width: 20vh;
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    min-width: 20vh;
    width: 30%;
    background-color: #0071ce;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #004883;
}

.buttonos {
    width: 100%;
    background-color: #0071ce;
    color: white;
    padding: 14px;
    margin: 4px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btns {
    font-size: 20px;
    size: 10px;
}


.mainHeader {
    display: flex;
    flex-direction: row;
    flex-grow: 0;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: rgb(60, 60, 60);
    width: 100%;
    padding: .5rem;
}

.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, .95);
}

.popup_inner {
    position: absolute;
    top: 5vw;
    left: 25vw;
    right: 25vw;
    padding: 15px;
    background-color: rgb(60, 60, 60);
    text-align: center;
}

.close {
    color: Black;
    float: right;
}

.close:hover {
    color: white;
    cursor: pointer;
}

@media all and (max-width: 900px){
    .popup_inner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: scroll;
    }
}
@media all and (max-height: 810px){
    .popup_inner {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: scroll;
    }
}
.mainpage {
    text-align: center;
}

.form input[type="text"] {
    min-width: 100%;
}

.form input[type="submit"] {
    min-width: 100%;
}

.form input[type="email"] {
    min-width: 100%;
}
.form input[type="password"] {
    min-width: 100%;
}
.form input[type="number"] {
    min-width: 100%;
}
.form button {
}
.icons {
   display: flex;
   flex-direction: row;
   flex-grow: 0;
   gap: 10px;
}
.link{
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}
.link > * {
    padding: 10px;
    border-radius: 15px;
    background-color: #0071ce;
}
.link > *:hover {
    border-color: #004883;
    color: white;
}

.main {
    margin-top: 1rem;
}