body {
    background-color: grey;
}

.List {
    border: 2px solid black;
    margin: 2px;
    text-align: center;
    width: 150px;
}

.row{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.stav{
    padding: 2px;
}

.addIt {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.infoItem{
    display: flex;
    flex-direction: row;
}

p{
    font-size: 25px;
}