body {
    background-color: rgb(211, 211, 211);
}

.List {
    border: 2px solid black;
    margin: 2px;
    text-align: center;
    width: 15%;
    min-width: 150px;
}

.row {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.stav {
    padding: 2px;
}

.addIt {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.addIt>* {
    width: 100%;
}

.infoItem {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

p {
    font-size: 25px;
}

.itemy {
    display: flex;
    flex-direction: column-reverse;
}

.link {
    text-decoration: underline;
    text-decoration-color: blue;
    color: blue;
}

.err {
    color: rgb(138, 0, 0);
}

.koupeno {
    color: rgba(0, 0, 0, 0.26);
}

.nekoupeno {
    color: brown;
}

.mainpage {
    text-align: center;
}


.List button {
    width: 50%;
    background-color: #0071ce;
    color: white;
    border: none;
    margin: 2px;
    cursor: pointer;
}

.List button:hover {
    background-color: #004883;
}

.types > button:hover {
    background-color: #004883;
}

.types > button {
    min-width: 49%;
    background-color: #0071ce;
    color: white;
    border: none;
    margin: 0.5px;
    cursor: pointer;
}

input[type=text],
select {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=email],
select {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=number],
select {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=password],
select {
    width: 30%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 30%;
    background-color: #0071ce;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #004883;
}

.buttonos {
    width: 30%;
    background-color: #0071ce;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.buttonos:hover {
    background-color: #004883;
}

.btns {
    font-size: 20px;
    size: 10px;
}

.types {
    display: inline-block;
    width: 30%;
}